
body section {
  margin: 0;
  text-align: center; 
  font-size: calc(0.75em + 1vmin);

}


/* .title {
  text-align: left;
} */

h1 {
  margin: 0 auto 0 auto;
  font-size: 4rem;

}



.top-container {

  background-color: #252934;
  color: #fa7d09;
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 3rem;

  padding-top: 6.25rem;
}


.top-container > p {
  font-weight:500;
}

.sunset-image {
  max-width: 100%;
  height: auto;
}

.middle-container {
  font-size: calc(0.75em + 1vmin);
  padding: 10px 0 20px;
}

.bottom-container {
    font-size: calc(0.75em + 1vmin);   
    text-align: center;
    background-color: #1b242f;
    padding: 70px 0 20px;
    color: #fa7d09;
    font-family: 'Julius Sans One', sans-serif;
    
}


h2 {
font-family: 'Julius Sans One', sans-serif;
}


h3 {
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: sans-serif;
}


.btn {
  background: #fa7d09;
  background-image: -webkit-linear-gradient(top, #fa7d09, #ec9c33);
  background-image: -moz-linear-gradient(top, #fa7d09, #ec9c33);
  background-image: -ms-linear-gradient(top, #fa7d09, #ec9c33);
  background-image: -o-linear-gradient(top, #fa7d09, #ec9c33);
  background-image: linear-gradient(to bottom, #fa7d09, #ec9c33);
  -webkit-border-radius: 31;
  -moz-border-radius: 31;
  border-radius: 31px;
  font-family: Arial;
  color: #fffcff;
  font-size: 1.4rem;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #ec9434;
  background-image: -webkit-linear-gradient(top, #ec9434, #f4b423);
  background-image: -moz-linear-gradient(top, #ec9434, #f4b423);
  background-image: -ms-linear-gradient(top, #ec9434, #f4b423);
  background-image: -o-linear-gradient(top, #ec9434, #f4b423);
  background-image: linear-gradient(to bottom, #ec9434, #f4b423);
  text-decoration: none;
}
.jscript-img {
  width: 7rem;
  height: 8rem;
}
.skill-row {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-content: space-around;

}
.flex-container  {
  margin: 10px 100px;
  padding-top: 10px;
}

.footer-link {
  color:#5b5c5b;
  font-weight: bolder;
  margin: auto 10px;
  text-decoration: none;
 
}


.footer-link:hover {
  color:#eaf6f6;
}
.media {
  font-size: 1.4rem;
 text-align: center;

}

.myname {
  font-size: 1rem;
  padding: 20px 0;
}
